* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background: #eeeeee;
}

.app-container {
  background: #eeeeee;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  max-width: 500px; /* Define o tamanho máximo */
  width: 100%; /* Adapta o componente à largura do viewport */
}

.checkbox-group {
  flex-direction: row;
  align-items: center;
}

.checkbox-group label {
  font-size: 0.825rem;
  margin-left: 10px;
}

.form-group label {
  color: #000;
  font-weight: 500;
}

.form-group input {
  padding: 12px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #000;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  outline: 1px solid 444;
}

.form-group input::placeholder {
  color: #999;
}

.form-group .input-error {
  outline: 1px solid rgb(255, 72, 72);
}

.form-group .error-message {
  color: rgb(255, 72, 72);
  font-size: 0.75rem;
  margin-top: 8px;
}

.form-group select {
  padding: 12px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #000;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.form-group button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #eee;
  background-color: #0088cc;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 500ms ease;
}

.form-group button:hover {
  cursor: pointer;
  background-color: #00aaff;
}

.navbar {
  background-color: #0088cc;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
  color: #ffffff;
  flex-wrap: wrap;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  
}

.navbar li {
  margin: 0 10px;
}

.navbar-link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  text-wrap: nowrap;
}

.navbar-link:hover {
  background-color: #f5f5f5;
}

@media (max-width: 850px) {
  .navbar {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .navbar li {
    margin: 10px 0;
  }
}